body{
    background-color: rgb(255, 255, 255);    
    color:rgb(0, 0, 0)
}
strong{
    color: rgb(0, 0, 0);
}
h1{
    margin: 25px;
    padding: 15px;
    text-align: center; 
    font-size: 36px;
    color: rgb(0, 0, 0);
}
h2{
    margin: 20px;
    padding: 10px;
    text-align: left;
    font-size: 36;
    color: rgb(26, 102, 216);
}